beautifulsoup4
python-dotenv
fastapi
google-cloud-bigquery
openai
thinc
pydantic
requests
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz